@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {

    //button
    --button-backgroundcolors: #202020;
    --button-colors: white;
    --button-border: 5px;

    //font
    --font-family: 'Poppins', serif;

    --font-bold: 700;
    --font-semi-bold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-uppercase: uppercase;
    --font-space: 261px;
    --font-height-p: 25px;
    --font-height-service-p: 20px;
    --font-height-testimonals: 28px;
    --font-height-title: 65px;

    //mobile
    --h1-size-m: 55px;
    --h2-size-m: 36px;
    --h3-size-m: 25px;
    --h4-size-m: 14px;
    --p-size-m: 16px;

    --service-title-m: 22px;
    --service-paragraph-m: 14px;

    --testimonials-middle-m:22px;
    --testimonials-name-m: 16px;
    --testimonials-occupation-m: 14px;

    --button-bigsize-m: 16px;
    --button-size-m: 12px;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    position: fixed;
    z-index: 100;
    width: 66%;
    right: -100%;
    top: 0;
    height: 100vh;
    padding: 1em;
    transition: all 0.2s ease-in;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        
        a {
            color: black;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 2em;
            text-align: left;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.navbar {
    padding: 1em;

    .logo {
        display: flex;
        align-items: center;

        .nugget-logo {
            width: 50px;
            margin-right: 1em;
        }

        .nugget-short {
            width: 100px;
        }
    }
}

.hero {
    position: relative;

    #circle {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
}

.hero {
    padding: 1em;

    h1 {
        font-size: var(--h1-size-m);
        font-weight: var(--font-semi-bold);
        line-height: var(--font-height-title);
        text-align: center;
        padding: 1em;
    }
}
