@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --gray-background: #FBFBFB;
  --h4-color: #B1B1B1;
  --p-color: #858585;
  --img-border: 10px;
  --card-color: white;
  --card-background: 0px 0px 20px #E9E9E9;
  --card-border: 12px;
  --card-border-service: 20px;
  --button-background: #202020;
  --button-color-w: white;
  --button-color-b: #202020;
  --button-border: 5px;
  --button-bigsize: 16px;
  --button-size: 14px;
  --button-space: 1px;
  --font-family: 'Poppins', serif;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-uppercase: uppercase;
  --font-letter: 4px;
  --font-height-p: 25px;
  --font-height-service-p: 20px;
  --font-height-service-t: 24px;
  --font-height-testimonals: 28px;
  --font-height-title: 65px;
  --font-height-subtitle: 43px;
  --font-height-subtitle-line: 30px;
  --font-height-fp: 30px;
  --h1-size: 55px;
  --h2-size: 36px;
  --h3-size: 25px;
  --h4-size: 14px;
  --p-size: 16px;
  --h2-padding: 10px 0 .7em;
  --service-title: 22px;
  --service-paragraph: 14px;
  --testimonials-middle: 22px;
  --testimonials-name: 16px;
  --testimonials-occupation: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-family);
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span:after {
  content: ' ';
  display: block;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  position: fixed;
  z-index: 100;
  width: 66%;
  right: -100%;
  top: 0;
  height: 100vh;
  padding: 1em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 2em;
  text-align: left;
}

nav li a:hover {
  font-weight: bold;
}

.navbar {
  padding: 1.5em;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo .nugget-logo {
  width: 50px;
  margin-right: 1em;
}

.navbar .logo .nugget-short {
  width: 100px;
}

.hero {
  padding: .5em;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .hero-title {
  font-size: var(--h1-size);
  font-weight: var(--font-semi-bold);
  line-height: var(--font-height-title);
  text-align: center;
  margin-top: 1.5em;
}

.hero .hero-desc {
  font-size: var(--p-size);
  font-weight: var(--font-regular);
  text-align: center;
  padding: 1.5em;
}

.hero .hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.hero .hero-button .hero-button-desc {
  background-color: var(--button-background);
  border-radius: var(--button-border);
  width: 200px;
  padding: 1.2em 1em;
  color: white;
  font-weight: var(--font-semi-bold);
  font-size: var(--p-size);
}

.hero #circle {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 55%;
  margin-top: -38em;
  width: 800px;
}

.desktop {
  display: none;
}

.why-me {
  margin: 8em 0;
  padding: 4em 1.5em 10em;
  background-color: var(--gray-background);
}

.why-me h4 {
  font-size: var(--h4-size);
  font-weight: var(--font-bold);
  letter-spacing: var(--font-letter);
  text-transform: var(--font-uppercase);
  color: var(--h4-color);
}

.why-me h2 {
  font-size: var(--h2-size);
  font-weight: var(--font-semi-bold);
  line-height: var(--font-height-subtitle);
  padding: var(--h2-padding);
}

.why-me p {
  color: var(--p-color);
  padding-bottom: 5em;
}

.why-me ul {
  display: block;
}

.why-me ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--card-color);
  -webkit-box-shadow: var(--card-background);
          box-shadow: var(--card-background);
  border-radius: var(--card-border);
  height: 125px;
  margin: 2em 2em;
}

.why-me ul img {
  margin: -1em 1.5em 1.5em 0;
  width: 100px;
}

.why-me ul #affordable-icon {
  margin-left: .5em;
}

.why-me ul #fast-icon {
  width: 120px;
}

.why-me ul #fast-service-text, .why-me ul #affordable-prices-text, .why-me ul #deadline-icon {
  margin-left: -.5em;
}

.why-me ul h1 {
  font-size: var(--service-title);
  font-weight: var(--font-semi-bold);
  line-height: var(--font-height-service-t);
}

.services {
  padding: 1.5em;
  margin-top: -14em;
}

.services ul li {
  background-color: var(--card-color);
  -webkit-box-shadow: var(--card-background);
          box-shadow: var(--card-background);
  padding: 3em 3em 2em;
  margin-top: 2em;
  border-radius: var(--card-border-service);
}

.services ul li img {
  width: 40px;
  margin: 1em 0;
}

.services ul li h1 {
  font-size: var(--service-title);
  font-weight: var(--font-semi-bold);
  line-height: var(--font-height-service-t);
  margin-bottom: 1em;
}

.services ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  color: var(--button-color-b);
  font-size: var(--button-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: var(--button-space);
}

.services ul li a img {
  width: 12px;
  margin-left: 1em;
}

.projects {
  padding: 5em 1.5em;
}

.projects .title-header {
  margin-bottom: 8em;
}

.projects .title-header h4 {
  font-size: var(--h4-size);
  font-weight: var(--font-bold);
  letter-spacing: var(--font-letter);
  text-transform: var(--font-uppercase);
  color: var(--h4-color);
}

.projects .title-header h2 {
  font-size: var(--h2-size);
  font-weight: var(--font-semi-bold);
  line-height: var(--font-height-subtitle-line);
  padding: var(--h2-padding);
}

.projects .title-header p {
  color: var(--p-color);
  padding-bottom: 4em;
}

.projects .title-header a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #B8B8B8;
  border-radius: var(--button-border);
  color: #B8B8B8;
  font-size: var(--h4-size);
  font-weight: var(--font-bold);
  padding: 1.5em 4em;
}

.projects .longline {
  letter-spacing: -2px;
}

.projects .shortline {
  letter-spacing: 0px;
  padding-left: 0.5em;
}

.projects .featured-project .project-img {
  width: 100%;
  border-radius: var(--img-border);
}

.projects .featured-project .right-col h3 {
  font-size: var(--h3-size);
  font-weight: var(--font-semi-bold);
  line-height: var(--font-height-fp);
  margin-top: 1em;
}

.projects .featured-project .right-col ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px auto;
      grid-template-columns: 160px auto;
  grid-gap: .5em;
  margin: 2em 0em 4em;
}

.projects .featured-project .right-col ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  border: 1px solid #B8B8B8;
  border-radius: 5px;
}

.projects .featured-project .right-col ul li p {
  font-size: var(--h4-size);
  font-weight: var(--font-semi-bold);
  text-transform: var(--font-uppercase);
  margin-left: 1em;
}

.projects .featured-project .right-col ul .longer {
  padding: 1em 6em;
}

.projects .featured-project .right-col .view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--button-background);
  width: 230px;
  color: white;
  padding: 1.5em 2em;
  border-radius: var(--button-border);
  margin-bottom: 8em;
}

.projects .featured-project .right-col .view-more p {
  font-size: var(--h4-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: var(--button-space);
  padding-right: 1em;
}

.testimonials {
  padding: 1.5em;
}

.testimonials .title-header h4 {
  font-size: var(--h4-size);
  font-weight: var(--font-bold);
  letter-spacing: var(--font-letter);
  text-transform: var(--font-uppercase);
  color: var(--h4-color);
}

.testimonials .title-header h2 {
  font-size: var(--h2-size);
  font-weight: var(--font-semi-bold);
  line-height: var(--font-height-subtitle-line);
  padding: var(--h2-padding);
}

.testimonials .title-header p {
  color: var(--p-color);
  padding-bottom: 5em;
}

.testimonials .box-testimonials {
  background-color: #FFF3F3;
  border-radius: 1.5em;
  padding: 2em;
}

.testimonials .box-testimonials .testimonial-character {
  width: 12em;
  display: block;
  margin: -5em auto 1em auto;
}

.testimonials .box-testimonials .testimonial-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1em;
  margin-bottom: 2em;
}

.testimonials .box-testimonials .testimonial-stars img {
  width: 30px;
}

.testimonials .box-testimonials .testimonial-stars li {
  display: block;
  margin: 0 auto 0 auto;
}

.testimonials .box-testimonials .right-col h3 {
  color: #803E3E;
  font-weight: var(--font-semi-bold);
  line-height: 25px;
  margin-bottom: 2em;
}

.testimonials .box-testimonials .right-col .quotation-marks {
  width: 35px;
}

.testimonials .box-testimonials .right-col h4 {
  color: #803E3E;
  font-weight: var(--font-semi-bold);
}

.testimonials .box-testimonials .right-col p {
  color: #B28080;
}
/*# sourceMappingURL=main.css.map */