@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {

    --gray-background: #FBFBFB;
    --h4-color: #B1B1B1;
    --p-color: #858585;

    --img-border: 10px;

    --card-color: white;
    --card-background: 0px 0px 20px #E9E9E9;
    --card-border: 12px;
    --card-border-service: 20px;

    //button
    --button-background: #202020;
    --button-color-w: white;
    --button-color-b: #202020;
    --button-border: 5px;
    --button-bigsize: 16px;
    --button-size: 14px;
    --button-space: 1px;

    //font
    --font-family: 'Poppins', serif;

    //font weight
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-uppercase: uppercase;

    --font-letter: 4px;

    //font height
    --font-height-p: 25px;
    --font-height-service-p: 20px;
    --font-height-service-t: 24px;
    --font-height-testimonals: 28px;
    --font-height-title: 65px;
    --font-height-subtitle: 43px;
    --font-height-subtitle-line: 30px;
    --font-height-fp: 30px;

    //mobile
    --h1-size: 55px;
    --h2-size: 36px;
    --h3-size: 25px;
    --h4-size: 14px;
    --p-size: 16px;

    --h2-padding: 10px 0 .7em;

    --service-title: 22px;
    --service-paragraph: 14px;

    --testimonials-middle: 22px;
    --testimonials-name: 16px;
    --testimonials-occupation: 14px;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

span:after {
    content: ' ';
    display: block;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    position: fixed;
    z-index: 100;
    width: 66%;
    right: -100%;
    top: 0;
    height: 100vh;
    padding: 1em;
    transition: all 0.2s ease-in;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        
        a {
            color: black;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 2em;
            text-align: left;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.navbar {
    padding: 1.5em;

    .logo {
        display: flex;
        align-items: center;

        .nugget-logo {
            width: 50px;
            margin-right: 1em;
        }

        .nugget-short {
            width: 100px;
        }
    }
}

.hero {
    padding: .5em;
    display: block;
    align-items: center;
    position: relative;

    .hero-title {
        font-size: var(--h1-size);
        font-weight: var(--font-semi-bold);
        line-height: var(--font-height-title);
        text-align: center;
        margin-top: 1.5em;
    }

    .hero-desc {
        font-size: var(--p-size);
        font-weight: var(--font-regular);
        text-align: center;
        padding: 1.5em;
    }
    
    .hero-button {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2em;

        .hero-button-desc {
            background-color: var(--button-background);
            border-radius: var(--button-border);
            width: 200px;
            padding: 1.2em 1em;
            color: white;
            font-weight: var(--font-semi-bold);
            font-size: var(--p-size);
        }
    }

    #circle {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 40%;
        margin-top: -40em;
        width: 800px;
    }
}

.desktop {
    display: none;
}

.why-me {
    margin: 8em 0;
    padding: 4em 1.5em 10em;
    background-color: var(--gray-background);

    h4 {
        font-size: var(--h4-size);
        font-weight: var(--font-bold);
        letter-spacing: var(--font-letter);
        text-transform: var(--font-uppercase);
        color: var(--h4-color);
    }

    h2 {
        font-size: var(--h2-size);
        font-weight: var(--font-semi-bold);
        line-height: var(--font-height-subtitle);
        padding: var(--h2-padding);
    }

    p {
        color: var(--p-color);
        padding-bottom: 5em;
    }

    ul {
        display: block;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--card-color);
            box-shadow: var(--card-background);
            border-radius: var(--card-border);
            height: 125px;
            margin: 2em 2em;
        }

        img {
            margin: -1em 1.5em 1.5em 0;
            width: 100px;
        } 

        #affordable-icon {
            margin-left: .5em;
        }
        
        #fast-icon {
            width: 120px;
        }

        #fast-service-text, #affordable-prices-text, #deadline-icon  {
            margin-left: -.5em;
        }
        
        h1 {
            font-size: var(--service-title);
            font-weight: var(--font-semi-bold);
            line-height: var(--font-height-service-t);
        }
    }
}

.services {
    padding: 1.5em;
    margin-top: -14em;

    ul {

        li {
            background-color: var(--card-color);
            box-shadow: var(--card-background);
            padding: 3em 3em 2em;
            margin-top: 2em;
            border-radius: var(--card-border-service);

            img {
                width: 40px;
                margin: 1em 0;
            }
    
            h1 {
                font-size: var(--service-title);
                font-weight: var(--font-semi-bold);
                line-height: var(--font-height-service-t);
                margin-bottom: 1em;
            }

            a {
                display: flex;
                align-items: center;
                margin-top: 2em;
                color: var(--button-color-b);
                font-size: var(--button-size);
                font-weight: var(--font-semi-bold);
                letter-spacing: var(--button-space);

                img {
                    width: 12px;
                    margin-left: 1em;
                }
            }
        }
    }
}

.projects {
    padding: 5em 1.5em;

    .title-header {
        margin-bottom: 8em;

        h4 {
            font-size: var(--h4-size);
            font-weight: var(--font-bold);
            letter-spacing: var(--font-letter);
            text-transform: var(--font-uppercase);
            color: var(--h4-color);
        }

        h2 {
            font-size: var(--h2-size);
            font-weight: var(--font-semi-bold);
            line-height: var(--font-height-subtitle-line);
            padding: var(--h2-padding);
        }
    
        p {
            color: var(--p-color);
            padding-bottom: 4em;
        }

        a {
            box-sizing: border-box;
            border: 1px solid #B8B8B8;
            border-radius: var(--button-border);
            color: #B8B8B8;
            font-size: var(--h4-size);
            font-weight: var(--font-bold);
            padding: 1.5em 4em;
        }
    }

    .featured-project {
        .project-img {
            width: 100%;
            border-radius: var(--img-border);
        } 

        .right-col {

            h3 {
                font-size: var(--h3-size);
                font-weight: var(--font-semi-bold);
                line-height: var(--font-height-fp);
                margin-top: 1em;
            }

            ul {
                display: grid;
                grid-template-columns: 160px auto;
                grid-gap: .5em;
                margin: 2em 0em 4em;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1em;
                    border: 1px solid #B8B8B8;
                    border-radius: 5px;

                    p {
                        font-size: var(--h4-size);
                        font-weight: var(--font-semi-bold);
                        text-transform: var(--font-uppercase);
                        margin-left: 1em;
                        
                    }
                }

                .longer {
                    padding: 1em 6em;
                }
            }

            .view-more {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--button-background);
                width: 230px;
                color: white;
                padding: 1.5em 2em;
                border-radius: var(--button-border);
                margin-bottom: 8em;

                p {
                    font-size: var(--h4-size);
                    font-weight: var(--font-semi-bold);
                    letter-spacing: var(--button-space);
                    padding-right: 1em;
                }
            }
        }
    }
}

.testimonials {
    padding: 1.5em;

    .title-header {

        h4 {
            font-size: var(--h4-size);
            font-weight: var(--font-bold);
            letter-spacing: var(--font-letter);
            text-transform: var(--font-uppercase);
            color: var(--h4-color);
        }
    
        h2 {
            font-size: var(--h2-size);
            font-weight: var(--font-semi-bold);
            line-height: var(--font-height-subtitle-line);
            padding: var(--h2-padding);
        }
    
        p {
            color: var(--p-color);
            padding-bottom: 5em;
        }
    }
}