@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {

    --gray-background: #FBFBFB;
    --h4-color: #B1B1B1;
    --p-color: #858585;

    //button
    --button-background: #202020;
    --button-colors: white;
    --button-border: 5px;

    //font
    --font-family: 'Poppins', serif;

    --font-bold: 700;
    --font-semi-bold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-uppercase: uppercase;
    --font-space: 6px;
    --font-height-p: 25px;
    --font-height-service-p: 20px;
    --font-height-testimonals: 28px;
    --font-height-title: 65px;
    --font-height-subtitle: 43px;

    //mobile
    --h1-size-m: 55px;
    --h2-size-m: 36px;
    --h3-size-m: 25px;
    --h4-size-m: 14px;
    --p-size-m: 16px;

    --service-title-m: 22px;
    --service-paragraph-m: 14px;

    --testimonials-middle-m:22px;
    --testimonials-name-m: 16px;
    --testimonials-occupation-m: 14px;

    --button-bigsize-m: 16px;
    --button-size-m: 12px;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.test {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    position: fixed;
    z-index: 100;
    width: 66%;
    right: -100%;
    top: 0;
    height: 100vh;
    padding: 1em;
    transition: all 0.2s ease-in;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        
        a {
            color: black;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 2em;
            text-align: left;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.navbar {
    padding: 1.5em;

    .logo {
        display: flex;
        align-items: center;

        .nugget-logo {
            width: 50px;
            margin-right: 1em;
        }

        .nugget-short {
            width: 100px;
        }
    }
}

.hero {
    padding: 1em 2em;
    display: block;
    align-items: center;
    justify-content: center;
    place-content: center;
    position: relative;

    .hero-title {
        font-size: var(--h1-size-m);
        font-weight: var(--font-semi-bold);
        line-height: var(--font-height-title);
        text-align: center;
        margin-top: 2em;
    }

    .hero-desc {
        font-size: var(--p-size-m);
        font-weight: var(--font-regular);
        text-align: center;
        padding: 1.5em;
    }
    
    .hero-button {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2em;

        .hero-button-desc {
            background-color: var(--button-background);
            border-radius: var(--button-border);
            width: 200px;
            padding: 1.2em 1em;
            color: white;
            font-weight: var(--font-semi-bold);
            font-size: var(--p-size-m);
        }
    }

    #circle {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 10em;
        margin-top: -40em;
        width: 800px;
    }
}

.desktop {
    display: none;
}

.why-me {
    margin-top: 8em;
    padding: 8em 1.5em;
    background-color: var(--gray-background);

    h4 {
        font-size: var(--h4-size-m);
        font-weight: var(--font-bold);
        letter-spacing: var(--font-space);
        text-transform: var(--font-uppercase);
        color: var(--h4-color);
    }

    h2 {
        font-size: var(--h2-size-m);
        font-weight: var(--font-semi-bold);
        line-height: var(--font-height-subtitle);
        padding: 10px 2em .7em 0em;
    }

    p {
        color: var(--p-color);
        padding-bottom: 5em;
    }
}